@import "tailwindcss";

.dark{
    @apply bg-gray-900 text-white
}

#elem{
    overflow-x: hidden;
    white-space: nowrap;
}

#elem h1 {
    
     -webkit-text-stroke: 1px #fff; 
    font-weight: 400;
    text-transform: uppercase;
    display:inline-block;
    margin-right: 16px;
    animation-name: marque;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes marque {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 20px));
    }
}

 /* Mobile Devices (max-width: 480px) */ 
 @media(max-width:480px){
    .section-1{
        margin:0;
        margin-top:200px;
    }
    .heading-1{
        border: 1px solid red;

        margin: 0;
        margin-top: 20px;
        font-size: 2rem;
    }
    .heading-2{
        border: 1px solid red;
  
        font-size: 2rem;
        margin-top: 10px;
    }
    .heading-3{
        border: 1px solid red;

        font-size: 1.3rem;
        margin-top: 5px;
    }
    .heading-4{

        font-size: 14px;
        color: gray;
    }
    .btn-group{
        border: 1px solid red;

        margin: auto;
        

    }
    .btn{
        font-size: 30px;
        display: flex; 
        align-items: center;
        justify-content: space-between;
    }

    .img-1{
        padding-top: 80px;



        
    }
    .marque{
     width: 200px;
    }
    /* services section */
    .services-header{
        margin-top: 500px;
    }
    /* form section */
    .text-area{
        margin: 0;
        padding: 0;
        width: 250px;
       
    }
    .btn-form {
        margin: 0;
    }
    .form-div{
        margin-left: -100px;
      
    }

 }