@import "tailwindcss";

.dark{
    @apply bg-gray-900 text-white
}

#elem{
    overflow-x: hidden;
    white-space: nowrap;
}

#elem h1 {
    
     -webkit-text-stroke: 1px #fff; 
    font-weight: 400;
    text-transform: uppercase;
    display:inline-block;
    margin-right: 16px;
    animation-name: marque;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes marque {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 20px));
    }
}

 /* Mobile Devices (max-width: 480px) */ 
 @media(max-width:480px){
    .section-1{
        margin:0;
        margin-top:100px;
    }
    .heading{
        margin-left: -90px;
    }
    .heading-1{
        /* border: 1px solid red; */
        width: 370px;

        margin: 0;
        margin-top: 20px;
        font-size: 2.8rem;
        margin-left: -90px;
    }
    .heading-2{
        width: 370px;
        /* border: 1px solid red; */
        margin-left: -90px;
        font-size: 2.4rem;
        margin-top: 10px;
        
    }
    .heading-3{
        width: 370px;
        /* border: 1px solid red; */
        margin-left: -90px;
        font-size: 1.7rem;
        margin-top: 5px;
    }
    .heading-4{
        width: 370px;
        /* border: 1px solid red; */
        margin-left: -90px;
        font-size: 14px;
        color: gray;
    }
    .btn-group{
        /* border: 1px solid red; */
        margin-left: -20px;
        width: 300px;
        margin-left: -60px;

        

    }
    .btn{
        font-size: 17px;
        display: flex; 
        align-items: center;
        justify-content: space-between;
    }
    .btn-2{
        margin-top: 10px;
    }

    .img-1{
        padding-top: 70px;
        max-width: 400px;
        margin-left: -40px;
        /* border: 1px solid red;      */
    }
    .marque{
     width:100%;
    }
    /* services section */
    .services-header{
        margin-top: 100px;
    }
    .service-h{
        /* border:1px solid red; */
        font-size: 2.6rem;
    }
    .btn-seemore{
        width: 350px;
        /* border: 1px solid red; */
        margin-top: 20px;
        margin-left: 10px;
    }
    /* about me */
    .about-section{
        margin: 0;
        padding: 0;
        margin-left: -50px;
    }
    .about-img{
        width: 340px;
        
    }
    .about-heading-1{
        /* border: 1px solid red; */
        margin-left: -30px;
        font-size: 1.9rem;
    }
    .about-text{
     /* border: 1px solid red; */
     margin-left: -30px;
     font-size: 12px;
    }
    .counter{
        margin-left: -30px; 
    }
    .btn-about{
        /* border: 1px solid red; */
        margin-left: 50px;
    }
    /* form section */
    .form-heading{
        /* border:1px solid red; */
        font-size: 2.4rem;
        margin-left: -40px;
    }
    .form-text-1{
        /* border:1px solid red; */
        font-size: 13px;
        margin-left: -40px;
    }
    .contact-group{
        margin-left: -40px;
    }
    .text-area{
        margin: 0;
        padding: 0;
        width: 280px;
        margin-left: 50px;
       
    }
    .btn-form {
        margin: 0;
        /* border: 1px solid red; */
        margin-left: 90px;
        margin-top: 20px;
    }
    .form-div{
        margin-left: -150px;
        /* border: 1px solid red; */
      
    }
    /* portfolio */
    .portfolio-heading{
        /* border:1px solid red; */
        font-size: 3rem;
        margin-left: -44px;
    }
    .btn-portfolio-1{
        /* border: 1px solid red; */
        margin-left: -50px;
        margin-top: 20px;
    }
    .card{
        /* border: 1px solid red; */
        width: 100%;
        padding: 0;
        margin-left: -30px;
    }
    /* footer section */
    .footer-heading{
        /* border: 1px solid red; */
        width: 350px;
        font-size: 2.4rem;

    }
    .btn-footer-1{
        margin-top: 10px;
    }
    .footer-nav{
        margin-left: -55px;
        margin-top: 5px;
    }
    .footer-nav-item{
        margin-left: -55px;
    }
    .social-icon{
        margin-left: -20px;
        margin-top: 10px;
    }



 }